<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jmfoste2.audioplayer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light">
        <activity
            android:name=".search.SearchActivity"
            android:label="@string/title_activity_search"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".favorite.FavoriteActivity"
            android:label="@string/title_activity_favorite"
            android:screenOrientation="portrait">
        </activity>

        <provider
            android:name=".suggestion.SearchSuggestionProvider"
            android:authorities="com.jmfoste2.audioplayer.suggestion.SearchSuggestionProvider" />

        <activity
            android:name=".player.PlayerActivity"
            android:label="@string/title_activity_player"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".playlist.PlaylistsActivity"
            android:label="PlaylistsActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".playlist.PlaylistActivity"
            android:label="PlaylistActivity"
            android:screenOrientation="portrait"></activity>

        <service
            android:name=".player.AudioService"
            android:enabled="true"
            android:exported="true"></service>

        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">

            <intent-filter android:label="@string/app_name" android:icon="@mipmap/ic_launcher">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchActivity" />
        </activity>
    </application>

</manifest>
